.main{
    padding: 0 100px;
}
.home-container{
    display: grid;
    grid-template-columns: 70% 25%;
    gap: 5%;
}
@media screen and (max-width: 700px) {
    .home-container{
        grid-template-columns: 1fr;
        gap: 2%;
    }
    .main{
        padding: 0 20px;
    }
}